@model DatabaseModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.CreatedDate</td>
    <td>@Model.Author</td>
    <td>@Model.RecordCount</td>
    <td>@Model.Rating</td>
    <td>
        @Html.ActionLink("Подробнее", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id })
    </td>
</tr>
